version: '3.9'

services:
  web:
    build: ./web
    ports:
      - "5000:5000"
    depends_on:
      - db
      - cache
    environment:
      DB_HOST: db
      DB_NAME: acoesdb
      DB_USER: user
      DB_PASSWORD: senha
      REDIS_HOST: cache
      REDIS_PORT: 6379
    networks:
      - backend

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: senha
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - "5432:5432"
    networks:
      - backend

  cache:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  db-data:
